- if params[:c] && @statement == main_statement
  = link_to "Board", brexit_board_path
  >
  = params[:c]
  %br
- else
  %span.small= link_to "See Board", brexit_board_path if board?

.home-page-agreement-container
  - if @agreements_count > 0 || any_filter?


    %span#vote-filter.dropdown.home-filter
      = link_to "#", "data-toggle" => "dropdown", class: "dropdown-toggle" do
        = @filters[:include] || "opinions"
        = "(#{@agreements_count})"
        %b.caret
        %ul{class: "dropdown-menu"}
          %li= link_to "opinions and votes", statement_path(@statement, @filters.merge(include: "opinions and votes"))
          %li= link_to "opinions", statement_path(@statement, @filters.merge(include: "opinions"))
          %li= link_to "votes with no opinion", statement_path(@statement, @filters.merge(include: "votes"))
    %span#type-filter.dropdown.home-filter
      from
      = link_to "#", "data-toggle" => "dropdown", class: "dropdown-toggle" do
        = @filters[:type].present? ? @filters[:type] : "influencers"
        %b.caret
        %ul{class: "dropdown-menu"}
          %li= link_to "all", statement_path(@statement, @filters.merge(type: "all"))
          %li= link_to "nobel laureates", statement_path(@statement, @filters.merge(type: "nobel laureates"))
          %li= link_to "influencers with Wikipedia page", statement_path(@statement, @filters.merge(type: "influencers"))
          %li= link_to "people with no Wikipedia page", statement_path(@statement, @filters.merge(type: "people"))
          %li= link_to "people I follow", statement_path(@statement, @filters.merge(type: "people I follow"))
    - if @occupations_count.any?
      %span#occupation-filter.dropdown.home-filter
        occupation
        = link_to "#", "data-toggle" => "dropdown", class: "dropdown-toggle" do
          = @filters[:occupation] || "any"
          %b.caret
          %ul{class: "dropdown-menu"}
            %li= link_to "any", statement_path(@statement, @filters.merge(occupation: "any"))
            - @occupations_count.map(&:first).each do |occupation|
              %li= link_to occupation, statement_path(@statement, @filters.merge(occupation: occupation))
            %li= link_to "...", "#{@statement.url}/occupations"
    - if @schools_count.any?
      %span#school-filter.dropdown.home-filter
        alma mater
        = link_to "#", "data-toggle" => "dropdown", class: "dropdown-toggle" do
          = @filters[:school] || "any"
          %b.caret
          %ul{class: "dropdown-menu"}
            %li= link_to "any", statement_path(@statement, @filters.merge(school: "any"))
            - @schools_count.map(&:first).each do |school|
              %li= link_to school, statement_path(@statement, @filters.merge(school: school))
            %li= link_to "...", "#{@statement.url}/schools"
    - if @agreements_count > 0 || params[:v] == "agree" || params[:v] == "disagree"
      %span#agree-disagree-filter.dropdown.home-filter
        = link_to "#", "data-toggle" => "dropdown", class: "dropdown-toggle" do
          = @filters[:v] || "agree & disagree"
          %b.caret
          %ul{class: "dropdown-menu"}
            %li= link_to "agree & disagree", statement_path(@statement, @filters.merge(v: "agree & disagree"))
            %li= link_to "agree", statement_path(@statement, @filters.merge(v: "agree"))
            %li= link_to "disagree", statement_path(@statement, @filters.merge(v: "disagree"))
