- agreements.each do |agreement|
  - individual = agreement.individual
  - statement = agreement.statement
  .home-page-agreement-container
    .home-page-agreement
      .media
        .media-left
          = image_tag(individual.picture.url(:mini), class: "picture media-object")
        .media-body
          %h4.media-heading
            %span= link_to(individual.name || individual.twitter || 'user-' + individual.hashed_id, individual_path(individual))
            %span.small>= ", #{individual.bio}"
            %span.small= " · "
            %span.small= link_to(agreement.created_at.strftime('%d %b %Y'), agreement_path(agreement), class: "grey")
          .statement
            %span
              - if agreement.agree?
                %span.green agrees
              - else
                %span.red disagrees
            = link_to(statement.content, statement_path(statement))
          %span.reason
            = render partial: "common/reason", locals: { agreement: agreement }
          %span.small
            - if admin?
              = link_to "edit", edit_reason_path(agreement)
              ·
              = render partial: "common/tweet", locals: { statement: statement, individual: individual, shortened_url_without_params: shortened_url_without_params(statement) }
              ·
              = link_to("delete", agreement_path(agreement), method: :delete, data: { confirm: "You sure?" })
              ·
              = link_to("promote", touch_path(agreement), method: :post)
              ·
              order (
              = link_to("top", top_agreement_position_path(agreement), method: :post)
              - if agreement.position.present?
                ,
                = link_to("higher", higher_agreement_position_path(agreement), method: :post)
                ,
                = link_to("lower", lower_agreement_position_path(agreement), method: :post)
                ,
                = link_to("bottom", bottom_agreement_position_path(agreement), method: :post)
                ,
                = link_to("remove", agreement_position_path(agreement), method: :delete)
              )
- if agreements.empty?
  .jumbotron
    No opinions yet. Try
    = link_to "removing filters", root_path
.text-center
  = paginate agreements
