- agreements.each do |agreement|
  - individual = agreement.individual
  - statement = agreement.statement
  - reporter = agreement.added_by
  .home-page-agreement-container
    - if current_user.present? && reporter.present? && @follows_people_ids.include?(reporter.id)
      .small
        = link_to "#{reporter.name}", individual_path(reporter)
        = "added:"
    .home-page-agreement
      .media
        .media-left
          = image_tag(individual.picture.url(:mini), class: "picture media-object")
        .media-body
          %h4.media-heading
            %span.small= link_to(individual.name || individual.twitter || 'user-' + individual.hashed_id, individual_path(individual))
            %span.small>= ", #{individual.bio} 路 #{agreement.created_at.strftime('%d %b %Y')}"
          .statement
            %span
              - if agreement.agree?
                %span.green Agrees:
              - else
                %span.red Disagrees:
              = link_to(statement.content, statement_path(statement))
          %span.reason
            = render partial: "common/reason", locals: { agreement: agreement }
          %span.small
            - if admin?
              = link_to "edit", edit_reason_path(agreement)
              路
              = render partial: "common/tweet", locals: { statement: statement, individual: individual, shortened_url_without_params: shortened_url_without_params(statement) }
              路
              = link_to("delete", agreement_path(agreement), method: :delete, data: { confirm: "You sure?" })
              路
              = link_to("promote", touch_path(agreement), method: :post)
.text-center
  = paginate agreements
