.text-center
  .social-media-links
    Follow us:
    .row
      .col-xs-4
      .col-xs-2.facebook-icon
        = link_to "https://www.facebook.com/Agreelist" do
          %i.ion.ion-social-facebook.social-media-icons
      .col-xs-2.twitter-icon
        = link_to "https://www.twitter.com/arpahector" do
          %i.ion.ion-social-twitter.social-media-icons
    .row
      .col-xs-4
      .col-xs-2= link_to "Facebook", "https://www.facebook.com/Agreelist"
      .col-xs-2= link_to "Twitter", "https://www.twitter.com/arpahector"
  .footer-line
    = link_to "Open Source", "https://github.com/hectorperez/agreelist"
    ·
    Open Data
    ·
    = link_to "API", "https://github.com/hectorperez/agreelist/blob/master/README.md#api"
    ·
    = link_to "Privacy", privacy_path
    ·
    = link_to "Terms", terms_path
    ·
    = link_to "Contact", contact_path
