.text-center
  .footer-line
    = link_to "API", "https://github.com/hectorperez/agreelist/blob/master/README.md#api"
    ·
    = link_to "Privacy", privacy_path
    ·
    = link_to "Terms", terms_path
    .social-media-links
      = link_to "https://www.twitter.com/arpahector" do
        %i.ion.ion-social-twitter.social-media-icons
      = link_to "https://www.facebook.com/Agreelist" do
        %i.ion.ion-social-facebook.social-media-icons
      = link_to "https://www.github.com/agreelist/agreelist" do
        %i.ion.ion-social-github.social-media-icons
