.text-center
  .footer-line
    = link_to "Open Source", "https://github.com/hectorperez/agreelist"
    ·
    Open Data
    ·
    = link_to "API", "https://github.com/hectorperez/agreelist/blob/master/README.md#api"
    ·
    = link_to "Privacy", privacy_path
    ·
    = link_to "Terms", terms_path
    ·
    = link_to "Contact", contact_path
